html, body {
	width: 100vw;
	height: 100%; /* 100% of the viewport height */
	min-height: 100%;
	min-width: 100%;
	margin: 0;
	overflow-x: hidden;
}

.main-header { 
	background-color: #FBEF5E;
	height: 200px;
	width: 100%;
	position: relative;
	float:right;
}

.name {
float: right;
margin:0 auto;
margin-right: 10px;

}

#name-self {

	height; 100%;
	background-color:black; 
	color:white; 
	font-family:sans-serif;
	display:inline;
	float:right;
	position: absolute;
	top: 10px;
	text-align:left;
	clear: both;
	font-size:60px;
}

#name-role {

	background-color:black; 
	color:white; 
	font-family:arial;
	display:inline;
	float:right;
	font-size:30px;
	position: relative;
	top: 110px;

}


.name-text {
	color: #480000;
	font-family: sans-serif;
}

.experience-ribbon {
	position: relative;
}

.experience-ribbon img {
}

.experience-group {
	margin: 0 auto;
	margin-top: 120px;
	width: 600px;
	height: 300px;
}

.experience-android-box {
	position: relative;
	margin-top:  0px;
	margin-left: 10px;
	height: 250px;
	width: 250px;
	background: #9FD3A0;
}

.experience-android img {
	margin-top: -53px;
	margin-left: 30px;
}

.experience-android h3 {
margin-left:30px;
}

.experience-web-box {
	position: relative;
	margin-left: 340px;
	margin-top:  -250px;
	width: 250px;
	height: 250px;
	background: #A0ADD4;
}

.experience-web img {
	margin-top: -53px;
	margin-left: 20px;
}


.experience-web h3 {
margin-left:50px;
}


.project-ribbon {
	position: relative;
}

.project-ribbon img {
}

.project-group {
	margin: 0 auto;
	margin-top: 80px;
	width: 600px;
	height: 300px;
}

.project-android-box {
	position: relative;
	margin-left: 10px;
	margin-top:  0px;
	height: 250px;
	width: 250px;
	background: #E7E8E7;
}

#group-icon-android-1 {
	width: 50px;
	margin-top: 5px;
}

#project-icon-android-1 {
width: 250px;
height: 200px;
margin-left: 30px;
}

.project-web-box {
	position: relative;
	margin-left: 350px;
	margin-top:  -250px;
	width: 250px;
	height: 250px;
	background: #CA929D;
}



#project-icon-web-1 {
width: 220px;
height: 100px;
margin-left: 20px;
margin-top: 70px;
}

.project-link a{
font-family: sans-serif;
vertical-align:center;
}

.project-link a:visited{
	color:#FBF1C7;
}


.project-link a:link{
	color:#FBF1C7;
}


.project-link  a:hover{
	color:#CBAE06;
}


.project-link  a:active{
	color:green;
}


#group-icon-web-1 {
	width: 50px;
	margin-top: 23px;
}

.contact-ribbon {
	position: relative;
}

.contact-group {
	margin: 0 auto;
	margin-top: 60px;
	width: 80px;
	height: 80px;
	font: arial;
	font-size: 22px;
	text-align: center;
}

.contact-icon {
	width:75px;
	height:75px;

}

.contact-group a:visited{
	color:#FBF1C7;
}


.contact-group a:link{
	color:#FBF1C7;
}


.contact-group  a:hover{
	color:#CBAE06;
}


.contact-group  a:active{
	color:green;
}

.contact-group a {
	font-family: sans-serif;
}



.experience {
	width: 100%;
	height:100%;
	background: #F38A59;
}

.project {
	width: 100%;
	height:100%;
	background: #BA3A5B;
}

.contact {
	height:100%;
	background: #6C2973;
}
