.content {
	display: flex;
	flex-wrap: wrap;
}

/* BREAKPOINT 1 */
@media screen and (max-width:730px ){
	#name-self {
		font-size: 40px;
	}
	#name-role {
		margin-top:-20px;
		font-size: 20px;
	}

	.experience-android-box {
		margin-left: 40px;
		width: 40%;
		height: 40%;
	}

	.experience-android img {
		width: 40%;
		height: 40%;
	}

	.experience-android h3 {
		font-size: 15px;
		margin-top: 5px;
		width: 40%;
		height: 40%;
	}

	.experience-web-box {
		margin-left: 320px;
		margin-top: -120px;
		width: 40%;
		height: 40%;
	}

	.experience-web img {
		margin-top: -45px;
		width: 40%;
		height: 40%;
	}

	.experience-web h3 {
		font-size: 15px;
		margin-top: 4px;
		width: 40%;
		height: 40%;
	}

	.project-android-box {
		margin-left:40px;
		width:40%;
		height:40%;
	}

	#group-icon-android-1 {
		position:absolute;
		bottom:-3px;
		right:190px;

	}

	#project-icon-android-1 {
		position:absolute;
		top:22px;
		right:40px;
		width:40%;
		height:60%;
	}

	.project-web-box {
		margin-left: 320px;
		margin-top:-120px;
		width:40%;
		height:40%;
	}

	#project-icon-web-1 {
		position:absolute;
		top: -47px;
		right: 25px;
		width:60%;
		height:40%;
	}

	#group-icon-web-1 {
		margin-top: 70px;
		width:20%;
		height:20%;
	}

	#web-font-fix-1 {
		position:absolute;
		top:143px;
		font-size: 17px;
	}

	#web-font-fix-2 {
		margin-bottom:70px;
		font-size: 17px;
	}

	#logo {
		margin-top: 20px;
		margin-bottom: 30px;
		width: 100px;
		height: 100px;
	}

}

/* BREAKPOINT 2 */
@media screen and (max-width:596px ){
	
	#name-self {
		font-size: 36px;
	}

	#name-role {
		margin-top:-25px;
		font-size: 17px;
	}

	.experience-android-box {
		margin-left: 160px;
		width: 35%;
		height: 35%;
	}

	.experience-android img {
		width: 35%;
		height: 35%;
	}

	.experience-android h3 {
		font-size: 15px;
		margin-top: 5px;
		width: 35%;
		height: 35%;
	}

	.experience-web-box {
		margin-left: 160px;
		margin-top: 70px;
		width: 35%;
		height: 35%;
	}

	.experience-web img {
		margin-top: -45px;
		width: 35%;
		height: 35%;
	}

	.experience-web h3 {
		font-size: 15px;
		margin-top: 4px;
		width: 35%;
		height: 35%;
	}

	.project-android-box {
		margin-left: 160px;
		width:35%;
		height:35%;
	}

	#group-icon-android-1 {
		position:absolute;
		right:160px;
	}

	#project-icon-android-1 {
		position:absolute;
		top:18px;
		right:60px;
		width:40%;
		height:60%;
	}

	.project-web-box {
		margin-left: 160px;
		margin-top:120px;
		width:35%;
		height:35%;
	}

	#project-icon-web-1 {
		position: absolute;
		right:20px;
		width:60%;
		height:55%;
	}

	#group-icon-web-1 {
		margin-top: 65px;
		width:18%;
		height:33%;
	}

	#web-font-fix-1 {
		margin-top:-30px;
		font-size: 17px;
	}

	#web-font-fix-2 {
		margin-bottom:70px;
		font-size: 17px;
	}

	#logo {
		margin-top: 20px;
		margin-bottom: 30px;
		width: 100px;
		height: 100px;
	}

}

/* BREAKPOINT 3 */
@media screen and (max-width:449px ){
	#name-self {
		font-size: 36px;
	}
	#name-role {
		margin-top:-25px;
		font-size: 17px;
	}

	.experience-android-box {
		margin-left: 60px;
		width: 35%;
		height: 35%;
	}

	.experience-android img {
		width: 35%;
		height: 35%;
	}

	.experience-android h3 {
		font-size: 15px;
		margin-top: 5px;
		width: 35%;
		height: 35%;
	}

	.experience-web-box {
		margin-left: 60px;
		margin-top: 70px;
		width: 35%;
		height: 35%;
	}

	.experience-web img {
		margin-top: -45px;
		width: 35%;
		height: 35%;
	}

	.experience-web h3 {
		font-size: 15px;
		margin-top: 4px;
		width: 35%;
		height: 35%;
	}

	.project-android-box {
		margin-left: 60px;
		width:35%;
		height:35%;
	}

	#group-icon-android-1 {
		position:absolute;
		right:160px;
	}

	#project-icon-android-1 {
		position:absolute;
		top:18px;
		right:60px;
		width:40%;
		height:60%;
	}

	.project-web-box {
		margin-left: 60px;
		margin-top:120px;
		width:35%;
		height:35%;
	}

	#project-icon-web-1 {
		position: absolute;
		right:20px;
		width:60%;
		height:55%;
	}

	#group-icon-web-1 {
		margin-top: 65px;
		width:18%;
		height:33%;
	}

	#web-font-fix-1 {
		margin-top:-40px;
		font-size: 17px;
	}

	#web-font-fix-2 {
		margin-bottom:70px;
		font-size: 17px;
	}

	.contact-group a {
		font-size: 15px;
	}

	#logo {
		margin-top: 40px;
		margin-left: 30px;
		width: 60px;
		height: 60px;
	}
}


/* BREAKPOINT 4 for height */
@media screen and (max-height: 700px) and (max-width: 340px){
	.experience-android-box {
		margin-top: -70px;
		margin-left: 80px;
		width: 25%;
		height: 25%;
	}

	.experience-android img {
		width: 25%;
		height: 25%;
	}

	.experience-android h3 {
		font-size: 12px;
		margin-top: 5px;
		width: 25%;
		height: 25%;
	}

	.experience-web-box {
		margin-top: 70px;
		margin-left: 80px;
		width: 25%;
		height: 25%;
	}

	.experience-web img {
		margin-top: -45px;
		width: 25%;
		height: 25%;
	}

	.experience-web h3 {
		font-size: 12px;
		margin-top: 4px;
		width: 25%;
		height: 25%;
	}

	.project-android-box {
		margin-left: 80px;
		width:25%;
		height:25%;
	}

	#group-icon-android-1 {
		position: absolute;
		left: 00px;
		width: 30%;
		height: 40%;
	}

	#project-icon-android-1 {
		position: absolute;
		left: 20px;
		top: 15px;
		width: 40%;
		height: 60%;
	}

	.project-web-box {
		margin-left: 80px;
		margin-top: 120px;
		width: 25%;
		height: 25%;
	}

	#project-icon-web-1 {
		position: absolute;
		right:20px;
		width: 60%;
		height: 40%;
	}

	#group-icon-web-1 {

		margin-top: 42px;
		margin-bottom: 0;
		width: 20%;
		height: 20%;
	}

	#web-font-fix-1 {
		margin-top: -60px;
		font-size: 10px;
	}

	#web-font-fix-2 {
		margin-top: 10px;
		font-size: 10px;
	}


	#logo {
		margin-top: 0px;
		margin-left: 0px;
		width: 0px;
		height: 0px;
	}
}

@media screen and (max-width: 416px){

	#logo {
		margin-top: 120px;
		margin-left: 140px;
		width: 50px;
		height: 50px;
	}

}
